<div class="container">
      <div class="block-heading">
        <h2>Shopping Cart</h2>
        <p>Here is your shopping cart</p>
      </div>
      <div class="form">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="items">
          {% for product in order.products.all %}
          <div class="product">
            <div class="row">
              <div class="col-md-3">
                <img class="img-fluid mx-auto d-block image" src="{{product.image.url}}">
              </div>
              <div class="col-md-9">
                <div class="info">
                  <div class="row">
                    <div class="col-md-5 product-name">
                      <div class="product-name">
                        <a href="#">Book 1</a>
                        <div class="product-info">
                          <div>{{product.description}}</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 ">
                      <h3>{{product.owner.user}}</h3>
                      <span>Rs {{product.price}}</span>
                    </div>
                    <div class="col-md-3 ">
                      <button data-product={{product.id}} data-action="remove" class="btn btn-secondary update-cart">Remove</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <div class="summary">
          <h3>Summary</h3>
          <div class="summary-item"><span class="text">Total</span><span class="price">Rs. {{total}}</span></div>
          <button type="button" class="btn btn-primary btn-lg btn-block">Checkout</button>
        </div>
      </div>
    </div>
  </div>
</div>
