{% extends "hoard/main.html"%}
{% block content %}
<section id="portfolio-details" class="portfolio-details">
<div class="container form">
<form method="POST"">
  {% csrf_token %}
  <div class="container">
    <h1>Log IN</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>
    <div class="col-md-6 form-group">
      {{form.username}}
    </div>
    <div class="col-md-6 form-group">
      {{form.password}}
    </div>

    <button class="btn btn-dark" type="submit">Login</button>
  </div>
<div class="container">
<p>Don't have an account? <a href="{% url 'register' %}">Sign in</a>.</p>
<p><a href="{% url 'password_reset' %}">Forget Password</a>.</p>
</div>
</form>
</section>
<script type="text/javascript">
  const form_field = document.getElementsByTagName('input')
  form_field[1].placeholder = 'Username'
  form_field[2].placeholder = 'Password'
  console.log(form_field);
</script>
{% endblock %}
