{% extends "hoard/main.html"%}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <section>
        <nav aria-label="breadcrumb">
            <ol class="product-image">
              <li class="breadcrumb-item active" aria-current="page">Reset password</li>
            </ol>
          </nav>
        {{ form.as_p }}
    
    </section>
    <div class="form-group">
        <button class="btn btn-outline-info product-image" type="submit">Request Password Reset</button>
    </div>
</form>
{%endblock%}
