{% extends "hoard/main.html"%}
{% block content %}
<section class="form ml-5">
<form class="col-lg-6" method="POST">
    {% csrf_token %}
    <h3 class="ml-3">Reset Password</h3>
    <div class="col-md-6 form-group">
        {{form.email}}
    </div>
    <div class="form-group">
        <button class="btn btn-outline-info ml-3" type="submit">Request Password Reset</button>
    </div>
</form>
</section>
<script type="text/javascript">
  const form_field = document.getElementsByTagName('input')
  form_field[1].placeholder = 'E-mail'
  console.log(form_field);
</script>
{%endblock%}
