{% extends "hoard/main.html"%}
{% block content %}
<form class='form' method="POST">
  {% if form.errors %}
    {% for field in form %}
      <div class="mt-3 fieldWrapper">
          {{ field.errors }}
      </div>
    {% endfor %}
      <div class="fieldWrapper">
      {% for error in form.non_field_errors %}
        <strong>{{ error }}</strong>
      {% endfor %}
    </div>
  {% endif %}
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Reset Password</legend>
        {{ form.as_p }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Reset Password</button>
    </div
</form>
{% endblock %}
