{% extends "hoard/main.html"%}
{% block content %}
<section id="pricing" class="pricing">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
        <div class="box featured" data-aos="zoom-in">
          <h3>{{object.title}}</h3>
          <h4><sup>Rs.</sup>{{object.price}}<span> / month</span></h4>
          <img class="product-image" src="{{ object.image.url }}" height="170px" alt="">
          <p><span style="color:#71400e;">Owner : <a style="color:black;" href="{% url 'user-products' object.owner.username %}">{{object.owner.name}}</a></p>
          <div class="btn-wrap">
            {% if object.owner != request.user %}
            <button data-product={{object.id}} data-action="add" class="btn-buy update-cart"><a href = "{% url 'store' %}" style="color:white;">Add To Cart</a></button>
            {% endif %}
          </div>
        </div>
      </div>
    <div class="col-lg-3 col-md-6 ml-5 mt-5">
      {% if object.owner == request.user %}
      <div class="mb-3 mt-0">
        <a href="{% url 'product-update' object.id %}" class="btn btn-outline-danger">Update</a>
        <a href="{% url 'product-delete' object.id %}"class="btn btn-danger">Delete</a>
      </div>
      {% endif %}
      <p>{{object.description}}</p>
    </div>
  </div>
 </div>
</section>
<script type="text/javascript">
  $(document).ready(function(){
  $("#footer").css("marginTop","20%");
});
</script>
{% endblock %}
