{% extends "hoard/main.html"%}
{% block content %}
<section id="portfolio-details" class="portfolio-details">
<div class="container form">
<form method="POST"">
  {% csrf_token %}
  <div class="container">
    <h1>Add Book</h1>
    <p>Please fill in the details</p>
    <hr>
    <div class="container form-group">
      {{form.title}}
    </div>
    <div class="container form-group">
      {{form.type}}
    </div>
    <div class="container form-group">
      {{form.price}}
    </div>
    <div class="container form-group">
      {{form.image}}
    </div>
  </div>
<div class="container">
  <button class="btn btn-secondary" type="submit">Submit</button>
</div>
</form>
</section>
<script type="text/javascript">
  const form_field = document.getElementsByTagName('input')
  form_field[1].placeholder = 'Title'
  form_field[2].placeholder = 'Price'
</script>
{%endblock%}
