{% extends "hoard/main.html"%}
{% block content %}
<svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
  <defs>
    <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
  </defs>
</svg>
<section id="pricing" class="pricing">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
        <div class="box featured" data-aos="zoom-in">
          <h3>{{object.title}}</h3>
          <h4><sup>Rs.</sup>{{object.price}}<span> / month</span></h4>
          <img class="product-image" src="{{ object.image.url }}" height="170px" alt="">
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Add To Cart</a>
          </div>
        </div>
      </div>
    <div class="col-lg-3 col-md-6 ml-5 mt-5">

      <p>{{object.description}}</p>
    </div>
  </div>
  </div>
</section>
{% endblock %}
