{% extends "hoard/main.html"%}
{% block content %}
<section id="portfolio-details" class="portfolio-details">
<div class="container form">
  {% if form.errors %}
    {% for field in form %}
      <div class="mt-3 fieldWrapper">
          {{ field.errors }}
      </div>
    {% endfor %}
      <div class="fieldWrapper">
      {% for error in form.non_field_errors %}
        <strong>{{ error }}</strong>
      {% endfor %}
    </div>
  {% endif %}
<form enctype="multipart/form-data" method="POST"">
  {% csrf_token %}
  <div class="container">
    <h1>Add Book</h1>
    <p>Please fill in the details</p>
    <hr>
    <div class="container form-group">
      {{form.title}}
    </div>
    <div class="container">
      <div class="row form-group">
        <div class="col-md-2">{{form.type}}</div>
        <div class="col-md-2">{{form.category}}</div>
        <div class="col-md-2">{{form.sub}}</div>
      </div>
  </div>
    <div class="container form-group">
      {{form.price}}
    </div>
    <div class="container form-group">
      {{form.description}}
    </div>
    <div class="container form-group">
      {{form.image}}
    </div>
  </div>
<div class="container">
  <button class="btn btn-secondary" type="submit">Submit</button>
</div>
</form>
</section>
<script type="text/javascript">
  const form_field = document.getElementsByTagName('input')
  form_field[1].placeholder = 'Title'
  form_field[2].placeholder = 'Price'
</script>
{%endblock%}
