{% extends "hoard/main.html"%}
{% block content %}
<section id="portfolio-details" class="portfolio-details">
<div class="container form">
<form method="POST"">
  {% csrf_token %}
  <div class="container">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>
    <div class="col-md-6 form-group">
      {{form.username}}
    </div>
    <div class="col-md-6 form-group">
      {{form.email}}
    </div>
    <div class="col-md-6 form-group">
      {{form.password1}}
    </div>
    <div class="col-md-6 form-group">
      {{form.password2}}
    </div>
  </div>
<div class="container">
  <button class="btn btn-dark" type="submit">Register</button>
  <p class="text-muted">Already have an account? <a href="{% url 'login' %}">Log in</a>.</p>
</div>
</form>
</section>
<script type="text/javascript">
  const form_field = document.getElementsByTagName('input')
  form_field[1].placeholder = 'Username'
  form_field[2].placeholder = 'E-mail'
  form_field[3].placeholder = 'Password'
  form_field[3].placeholder = 'Confirm-Pass'
</script>
{% endblock %}
