{% extends 'hoard/main.html'%}
{% block content %}
<section class="pricing">
  <div class="container">
    <div class="section-title" data-aos="zoom-out">
      <h2>Books</h2>
      <p>Book Store</p>
      <div class="ak-filters">
      <input class="mt-3 mx-2" id="aksearch" type="text" placeholder="Search..">
        <select onchange="aksh_select()"class="mx-2 my-2" id="ak-cat">
          <option value="aksh" disabled selected>Select Category</option>
          <option value="">All</option>
          <option value="Novel">Novel</option>
          <option value="Gate">Gate</option>
          <option value="1st">1st year</option>
          <option value="2nd">2nd year</option>
          <option value="3rd">3rd year</option>
          <option value="4th">4th year</option>
          <option value="5th">5th year</option>
        </select>
        <select onchange="aksh_select()"class="mx-2 my-2" id="ak-sub">
          <option value="aksh" disabled selected>Select Subject</option>
          <option value="">All</option>
          <option value="Physics">Physics</option>
          <option value="Math">Math</option>
          <option value="Chemistry">Chemistry</option>
          <option value="C">C Programming</option>
          <option value="Engineering">Engineering</option>
        </select>
      </div>
    </div>
    <div id="list" class="row">
      {% for book in products %}
      <div id="me" class="col-lg-3 col-md-6 mt-4">
        <div class="box featured" data-aos="zoom-in">
          <h3>{{book.title}}</h3>
          <div id = "ak-hidden" style="display:none">
            {{book.description}}
            <p id="book-cat">{{book.category}}</p>
            <p id="book-sub">{{book.sub}}</p>
          </div>
          <h4><sup>Rs.</sup>{{book.price}}<span> / month</span></h4>
          <img class="product-image" src="{{ book.image.url }}" height="170px" alt="">
          <div class="btn-wrap">
            <a href="{% url 'product-detail' book.id %}" class="btn-buy">View</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<script type="text/javascript">
  $(document).ready(function(){
  $("#footer").css("marginTop","20%");
});
</script>
{% endblock %}
